<div class="jumbotron">
  <h1>YELPER</h1>
  <p class="lead">Your one stop site for your necessities</p>
  <div class="input-group">
   <div class="input-group-prepend">
     <span class="input-group-text">Search for: </span>
   </div>
    <Input @type="text" @id="term" @placeholder="burger, pizza" @value={{term}} />
    <Input @type="text" @id="loc" @placeholder="City or State" @value={{location}} /> <!--value={{loc}}-->
  </div>
</div>

<div class="row d-flex justify-content-center">
    <div class="col-md-5 col-sm-10 d1 m-md-1">
        <ul>
        {{#each model.business as |business|}}
        <LinkTo @route="specific" @model={{business.id}}>
        <li class="link">{{business.name}}, {{business.rating}}, <br>{{business.location.address1}}</li>
        </LinkTo>
        {{/each}}
        </ul>
    </div>

    <div class="col-md-3 col-sm-10 d2 m-md-1">
        <p>Social Media aca</p>
    </div>
</div>

{{outlet}}